<h2>订单列表 </h2>

<%= foobar_path("A", :c => "YYY", :b => "XXX") %>

<p>
  <%= form_tag admin_orders_path, :method => :get do %>
    <%= label_tag "Date" %>
    <%= date_field_tag :date, Date.today %>
    <%= submit_tag :submit %>
  <% end %>

  <%= link_to "尚未處理", admin_orders_path( :status => "pending") %>
  <%= link_to "已處理", admin_orders_path( :status => "done") %>
</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>生成时间</th>
      <th>订购者</th>
      <th>订单状态</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td> <%= link_to(order.id, admin_order_path(order) ) %> </td>
      <td> <%= order.created_at.to_s(:long) %> </td>
      <td> <%= order.user.email %></td>
      <td> <%= order.aasm_state %> </td>
    </tr>
    <% end %>

  </tbody>
</table>

<%= will_paginate @orders %>
