<div class="row">
  <div class="col-md-12">

    <%= link_to("清空购物车", clean_cart_path ,
                method: :post , class: "pull-right",
                style: "text-decoration: underline;",
                data: { confirm: "你确定要清空整个购物车吗？"} )%>

    <h2> 购物车 </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">商品资讯</th>
          <th>单价</th>
          <th>数量</th>
          <th>操作选项 </th>
        </tr>
      </thead>
      <tbody>

        <% current_cart.cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= link_to product_path(cart_item.product) do %>

                <% if cart_item.product.photos[0].present? %>

                  <%= image_tag(cart_item.product.photos[0].avatar.thumb.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
            </td>
            <td>
              <%= cart_item.product.price %>
            </td>
            <td>
              <% cart_item = current_cart.cart_items.find_by(product_id: cart_item.product_id) %>

              <%= form_for cart_item, url: cart_item_path(cart_item.product_id) do |f| %>
                <%= f.select :quantity, 1..cart_item.product.quantity %>
                <%= f.submit "更新", data: { disable_with: "Submiting..." } %>
              <% end %>
            </td>
            <td>
              <%= link_to cart_item_path(cart_item.product_id), method: :delete do %>
              <i class="fa fa-trash"></i>
              <% end %>
             </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <br>

    <div class="total clearfix">
      <span class="pull-right">
         <span> 总计 <%= current_cart.total_price %> RMB  </span>
      </span>
    </div>

    <hr>

    <div class="checkout clearfix">
      <%= link_to("确认结账", checkout_cart_path, method: :post, class: "btn btn-lg btn-danger pull-right") %>
    </div>
  </div>
</div>
