<h2> Edit Product </h2>

<%= simple_form_for [:admin, @product] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%#= f.input :publish_on %>
    <%= f.input :publish_on, :as => :string %>
  </div>

  <div class="group">
    <%= f.association :category %>
    <%#= f.select :category_id, Category.all.map{ |x| [x.name, x.id] }, {}, :class => "form-control" %>
  </div>

  <div class="group">

    <%#= f.collection_check_boxes :property_ids, Property.all, :id, :name %>

    <%= f.association :properties, :as => :check_boxes %>

    <%#= f.association :properties %>

    <%#= f.select :property_ids, Property.all.map{ |x| [x.name, x.id] }, {}, :multiple => true , :class => "form-control" %> 
  <div>

  <div class="group">
    <%= f.input :description, :as => :text %>
  </div>

  <div class="group">
    <%= f.input :quantity %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>

  <% if @product.image.present? %>
    <span>目前商品图</span> <br>
    <%= image_tag(@product.image.thumb.url) %>
  <% end %>

  <div class="group">
    <%= f.input :image, as: :file %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." }, :class => "btn btn-primary" %>

<% end %>

<%= content_for :js do %>

<script>
$(document).on("turbolinks:load", function(){ 
  $("#product_category_id").select2();
  $("#product_property_ids").select2();

  $('#product_publish_on').datepicker({ format: "yyyy/mm/dd" });

  autosize( $("#product_description") );
})  
</script>
<% end %>