<div class="row">
  <div class="col-md-6">
		    <div class="intro-bigPic border">
		      <% if @photos.present? %>
		        <img id="thumb" src="<%= @photos.first.avatar.medium.url %>">
		      <% end %>
		    </div>

        <div class="intro-preview-box">
        		    <ul class="intro-preview">
        		      <% if @photos.present? %>
              		        <% @photos.each_with_index do |p, index| %>

                                  <% if index == 0 %>
                                    <li class="border intro-preview-item intro-preview-activeItem fl">
                                      <%= image_tag p.avatar.medium.url %>
                                    </li>
                      		        <% end %>

                                  <% if index >0 && index < 10 %>
                                  <li class="border intro-preview-item fl">
                                    <%= image_tag p.avatar.medium.url %>
                                  </li>
                                  <% end %>

              		        <% end %>
        		       <% end %>
        		    </ul>
        </div>
  </div>


  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <div class="pull-right">

      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post,
                          class: "btn btn-lg btn-danger") %>
      <% else %>
        已销售一空，无法购买
      <% end %>

    </div>
  </div>
</div>

<div class="row">
  产品详情页
</div>
